In [1]:
import pandas

In [4]:
dataset = pandas.read_csv('marks.csv')

In [5]:
dataset

   hrs  marks
0    2     20
1    7     70
2    3     30
3    6     60

In [6]:
y = dataset['marks']

In [8]:
x = dataset['hrs']

In [9]:
x

0    2
1    7
2    3
3    6
Name: hrs, dtype: int64

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
model = LinearRegression()