In [1]:
db = ["arnav", "pop", "jack", "eric"]

In [2]:
type(db)

list

In [3]:
db[1:4]

['pop', 'jack', 'eric']

In [4]:
db[1:]

['pop', 'jack', 'eric']

In [5]:
db[:3]

['arnav', 'pop', 'jack']

In [6]:
db[:]

['arnav', 'pop', 'jack', 'eric']

In [7]:
db = [ 
      [ 1,"arnav",1111,"ok"]  , 
       [2,"pop",2222,"good" ], 
        [3,"jack",3333,"ok" ],
       [ 4, "eric", 4444, "good" ] 
     ]

In [8]:
len(db)

4

In [9]:
db[0]

[1, 'arnav', 1111, 'ok']

In [10]:
db

[[1, 'arnav', 1111, 'ok'],
 [2, 'pop', 2222, 'good'],
 [3, 'jack', 3333, 'ok'],
 [4, 'eric', 4444, 'good']]

In [11]:
import numpy

In [12]:
a = numpy.array(db)

In [13]:
type(a)

numpy.ndarray

In [14]:
a.shape

(4, 4)

In [22]:
import cv2

In [23]:
photo = cv2.imread('arnav.jpg')

In [24]:
type(photo)

numpy.ndarray

In [25]:
b = photo[100:1200 , 300:2000 ]

In [26]:
cv2.imwrite("my.jpg" , b)

True

In [38]:
cap = cv2.VideoCapture(0)

In [28]:
myphoto = cap.read()

In [29]:
len(myphoto)

2

In [30]:
ret = myphoto[0]

In [31]:
ret

True

In [32]:
aphoto = myphoto[1]

In [33]:
aphoto.shape

(480, 640, 3)

In [36]:
cv2.imwrite("arnav.png" , aphoto)

True